{% extends 'Home/base.html' %}

{% block body %}
<h2 align="center" style="padding-top: 10px"><b>Terms of Privacy</b></h2>
<hr id="partition">
<div class="container" style="padding-top:20px">
1. ACCEPTANCE OF TERMS<br>
A. By using and/or visiting this website (collectively, including all content available through the AsThePageTurns
    domain name and any country-specific domains or subdomains thereof, the "AsThePageTurns Website", or "Website", or
    mobile applications accessing (AsThePageTurns), you signify your agreement to<br>
    (1) these terms and conditions (the "Terms of Service"),<br>
    (2) AsThePageTurns's privacy notice, found at http://www.AsThePageTurns/privacy and incorporated here by reference,
    <br>
B. Although we may attempt to notify you when major changes are made to these Terms of Service, you should periodically
    review the most up-to-date version (http://www.AsThePageTurns/terms). <br>

2. WEBSITE<br>
A. These Terms of Service apply to all users of the AsThePageTurns Website, including users who are also contributors
    of text content, information, and other materials or services on the Website.<br>
B. The AsThePageTurns Website may contain links to third party websites that are not owned or controlled by
    AsThePageTurns. AsThePageTurns has no control over, and assumes no responsibility for, the content,
    privacy policies, or practices of any third party websites. In addition, AsThePageTurns will not
    and cannot censor or edit the content of any third-party site. By using the Website, you expressly relieve
    AsThePageTurns from any and all liability arising from your use of any third-party website.<br>

3. ACCOUNTS<br>
A. In order to access some features of the Website, you will have to create a AsThePageTurns account. You may never use
    another's account without permission. When creating your account, you must provide accurate and complete
    information. You are solely responsible for the activity that occurs on your account, and you must keep your
    account password secure. You must notify AsThePageTurns immediately of any breach of security or unauthorized
    use of your account.<br>
B. Although AsThePageTurns will not be liable for your losses caused by any unauthorized use of your account, you may
    be liable for the losses of AsThePageTurns or others due to such unauthorized use.<br>
C. You will not create an account if you are under 13 years of age.<br>
D. You will not use Wattpad if you are a convicted sex offender.<br>

4. GENERAL USE OF THE WEBSITE<br>
AsThePageTurns hereby grants you permission to access and use the Website as set forth in these Terms of Service,
    provided that:<br>
A. You agree not to distribute in any medium any part of the Website, including but not limited to User Submissions
    (defined below), without AsThePageTurns's prior written authorization.<br>
B. You agree not to alter or modify any part of the Website.<br>
C. You agree not to access User Submissions (defined below) or AsThePageTurns Content through any technology or means
    other than the Website itself.<br>

5. USE OF CONTENT ON THE SITE<br>
In addition to the general restrictions above, the following restrictions and conditions apply specifically to your
    use of content on the AsThePageTurns Website.<br>
A. The content on the AsThePageTurns Website, except all User Submissions (as defined below), including without
    limitation, the text, software, scripts, graphics, photos, sounds, music, videos, interactive features and the
    like ("Content") and the trademarks, service marks and logos contained therein ("Marks"), are owned by or licensed
    to AsThePageTurns, subject to copyright and other intellectual property rights under the law.<br>
B. You may access User Submissions solely:<br>
* for your information and personal use;<br>
* as intended through the normal functionality of the AsThePageTurns Service;<br>
C. You may access AsThePageTurns Content, User Submissions and other content only as permitted under this Agreement.
    AsThePageTurns reserves all rights not expressly granted in and to the AsThePageTurns Content and the
    AsThePageTurns Service.<br>

</div>
{% endblock %}